<launch>
    <node pkg="inverse_kinematic_controller"
        type="inverse_kinematic_controller_server" 
        name="inverse_kinematic_controller_node" output="screen">
        <rosparam command="load"
            file="$(find inverse_kinematic_controller)/config/config.yaml"/>
    </node>
</launch>